@use '../../styles/colors';

.main {
  padding: 170px 0 50px;
  position: relative;
  height: 806px;
  background-position: center;
  background-size: cover;
}

.infoWrapper {
  max-width: 805px;
  width: 100%;
  position: relative;
  z-index: 8;
}

.category {
  text-transform: uppercase;
  letter-spacing: 4.8px;
  color: colors.$gray;
}

.titleImage {
  margin-top: 12px;
}

.info {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 18px;

}

.description {
  margin-top: 15px
}

.ctaSection {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 26px;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  right: 100%;
  object-fit: cover;
  object-position: center;
}
